html, body{
	overflow-x:hidden;
	width:100%;
}

body{
	font-family:"Lato", Helvetica, Arial, sans-serif;
	color:#333333;
	font-size:16px;
}

h1{
	/* 40px Lobster */
	font-family:"Lobster", cursive;
	font-size:2.5em;
}

h2{
	/* 30px Lato Black 900 */
	font-size:1.875em;
	font-weight:700;
}

h3{
	/* 24px Lato Semibold 700 */
	font-size:1.5em;
	font-weight:700;
}

h4{
	/* 16px Lato Black 900 */
	font-size:1em;
	font-weight:900;
}

h5{
	/* 16px Lato Normal 300 */
	font-size:0.875em;
	font-weight:900;
}

h6{
	/* 14px Lato Light 100 */
	font-size:0.875em;
	font-weight:100;
}

p{
	/* 13px Lato Light 100 */
	font-size:0.813em;
	font-weight:100;
	line-height:1.250em;
}

img{
	max-width:100%;
	height:auto;
}

/* LOGO SECTION */
header{
	background-color:#333333;
}

header img{
	text-align:center;
	padding: 1.25rem auto;
}

/*--------------------------------------*/
/* HERO */
.hero{
	background-image:radial-gradient(circle at bottom right, rgba(234,72,40,0.25), rgba(206,182,155,0.25));
}

.hero h1{
	color:#f05f3d;
	text-align:center;
	margin-top:-5px;
	margin-bottom:-5px;
	padding-top:1.25em;
	padding-bottom:1em;
}

.hero img{
	padding-bottom:2em;
}
	

.hero p.subhead{
	font-weight: 900;
	text-align: center;
	font-size:0.75em;
}

.hero p.body{
	line-height: 1.5em;
	padding-bottom:3em;
	text-align: center;

}

/*--------------------------------------*/
/* STORY */
.story h2{
	color:#7ccdcd;
	margin-top:-5px;
	margin-bottom:-5px;
	padding-top:1.25em;
	padding-bottom:1em;
	text-align:center;
}

.story img{
	text-align:center;
	padding-bottom:1em;
}

.story p{
	line-height:1.5em;
}

.story p.storysign{
	font-family:"Lobster",cursive;
	font-size:1.25em;
	color:#ffce00;
	line-height:1.5em;
}

.story p.storysignname{
	font-size:1.25em;
	font-weight:700;
	padding-bottom:50px;
	line-height:1.25em;
}

/*--------------------------------------*/
/* INGREDIENTS */
.ingredients{
	background-color:#ceb698;
}

.ingredients h2{
	color:#f05f3d;
	text-align:center;
	margin-top:-5px;
	margin-bottom:-5px;
	padding-top:1.25em;
	padding-bottom:1.25em;
}

.ingredients img{
	text-align:center;
	width:65%;
	height:auto;
}

.ingredients h4{
	color:white;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
	padding-top:.75em;
}

.ingredients h6{
	line-height:1.5em;
	text-align:center;
	padding-bottom:2em;
}

/*--------------------------------------*/
/* PRODUCTS */
.products{
	background-color:rgba(124,205,205,0.12);
}

.products h2{
	color:#7ccdcd;
	text-align:center;
	margin-top:-5px;
	margin-bottom:-5px;
	padding-top:1.25em;
	padding-bottom:1.25em;
}

.products img{
	width:60%;
	height:auto;
	padding-top:1.25em;
}

.products h5{
	text-align:center;

}

.products h3{
	color:#c0c0c0;
	text-align:center;
	font-weight: 400;
}

.products label{
	font-size:1em;
}

.products button{
	background-color:#f05f3d;
	color:white;
	border:none;
	text-align:center;
	margin-bottom:2em;
}
.products button:hover{
	background-color:#f05f3d;
	color:white;
	border:none;

}

input{
	display:inline-block;
	float:left;
}
.products label{
	text-align:right;
	font-size: 0.75em
}

/*--------------------------------------*/
/* FOOTER */
footer{
	background-color: #333333;
	text-align:center;
}

footer img{
	margin-left:-3px;
	text-align:center;
	padding-top:1.25em;
}

footer p{
	color:#fff6e1;
	font-size:0.75em;
	font-weight:400;
	text-align:center;
	padding-top:.5em;
	padding-bottom:1.25em;
	}

/*--------------------------------------*/
/* MEDIA QUERIES */

/*  xsmall devices -phones- <767px */
@media (max-width: 767px){
	body{
		font-size:16px;
	}
}

/*  small devices -tablets- 768px-991px */
@media (min-width: 768px) and (max-width: 991px){
	body{
		font-size:18px;
	}
	.story p{
		font-size:0.7em;
		line-height:1.7em;
	}

	.ingredients h4{
		text-align: left;
	}
	.ingredients h6{
		text-align:left;
		font-size:0.813em;
	}

	.products img{
		width:60%;
		height:auto;
	}
	.products h5{
		font-size:0.75em;
	}
}

/*  medium devices -desktops- 992-1199px */
@media (min-width: 992px) and (max-width: 1199px){
	body{
		font-size:20px;
	}
	.hero p.subhead{
		text-align: left;
	}
	.hero p.body{
		text-align: left;
		line-height:1.95em;
	}
	.story p{
		line-height: 1.7em;
		font-size:0.75em;
	}
	.story p.storysign{
		font-size:1.3em;
		line-height: 1em;
	}
	.story p.storysignname{
		font-size:1.3em;
		line-height: 1em;
	}
	.ingredients img{
		width:50%;
		height:auto;
	}

	.products img{
		width:50%;
		height:auto;
	}
}

/*  large devices -desktops- >1200 */
@media (min-width: 1200px){
	body{
		font-size:22px;
	}
	.hero p.subhead{
		text-align: left;
	}
	.hero p.body{
		text-align: left;
	}
	.story p{
		line-height:1.95em;
		font-size:0.75em;
	}
	.products img{
		width: 50%;
		height:auto;
		margin:0 auto;
	}
	.products h5{
		font-size:0.545em;
	}
	.products h3{
		font-size:1em;
	}
	.products label{
		font-size:0.545em;
		text-align: center;
	}
}
